{% set jenkins = salt['grains.filter_by']({
    'Debian': {
        'plugins': {},
        'nginx' : {
            'upstream': 'localhost:8877',
            'listen': '80',
            'server_name': 'jenkins.*'
        },
        'git': {
            'email': 'jenkins@localhost',
            'name': 'Your humble Jenkins',
        },
        'optional_groups': [],
        'war_dir': '/var/cache/jenkins/war'
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('jenkins', {})) %}
{% set deploy = salt['grains.filter_by']({
    'Debian': {
        'ssh': {
          'key_type': 'id_rsa',
        },
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('deploy', {})) %}

