{% set jenkins = salt['grains.filter_by']({
    'Debian': {
        'home': '/srv/jenkins',
        'git': {
            'email': 'jenkins@localhost',
            'name': 'Your humble Jenkins',
        }
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('jenkins', {})) %}

